* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

main {
  background-color: #1B2838;
}

h1 {
  border-bottom: 1px solid #5C7E10;
}

.divBuy {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #5C7E10;
  transition: 0.5s;
  cursor: pointer;
}

.divBuy:hover {
  background-color: #5C7E10;
}

h6 {
  letter-spacing: 2px;
  background: #5C7E10;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

span {
  color: #61686D;
}

.cardInfo {
  background-color: #1B2838;
  box-shadow: -1px 1px 11px 4px rgba(255,255,255,0.79);
}