
body{   
    background-color: #212429;
    /*background-image: url(/assets/Diseño\ sin\ título\ \(1\).png);*/
}
a{
    text-decoration: none;
    color: white;
}


#userName{  
    background-color: #32353C;
}
#password{  
    background-color: #32353C;
}
#passwordCheck{
    background-color: #32353C;
}
#email{
    background-color: #32353C;
}
#email2{
    background-color: #32353C;
}
*{
    margin-bottom: 0;
}

.img{
    height: 300px;
}


