*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #171A21;
}
.texto-claro{
    color: #fff;
}
h1{
    color: #fff;
    padding: 10px;
}
.btn-agregar{
    color: #fff;
    background-color: #1B2839;
    padding: 5px;
}
.bi{
    color: #fff;
}
.bi:hover{
    cursor: pointer;
    scale: 1.5;
}
.tabla{
    padding: 20px;
}
.tabla-desktop{
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 20px 20px 20px; */
    
}

.tabla-desktop tr th{
    background-color: #171A21 ;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    text-align: left;
}

.tabla-desktop tr td{
    border: 1px solid #fff; 
    padding: 5px;
    background-color: #1B2839;
    color: #fff;
}
.modal-title, .modal-body{
    color: #fff;
}

.logo-pagina{
    width: 40%;
    margin-left: 6rem;
}

#texto{
    width: 100%;
}